# ActiveMQ Connection Settings
ACTIVEMQ_BROKER_URL=tcp://localhost:61616
ACTIVEMQ_USERNAME=artemis
ACTIVEMQ_PASSWORD=artemis

# Queue Names
QUEUE_NAME=app.events
REPLY_QUEUE_NAME=app.responses

# File Storage
FILE_DIRECTORY=./files/